In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

##### SAS Data import

In [2]:
print(os.getcwd())

c:\Users\Owner\Desktop\윤태준\고용패널\고용패널 파이썬 분석\2023_04_06_변수추가

In [3]:
df = pd.read_sas('data.sas7bdat', format='sas7bdat')
df.head()

c:\Users\Owner\anaconda3\envs\'pannel'\lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
c:\Users\Owner\anaconda3\envs\'pannel'\lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
c:\Users\Owner\anaconda3\envs\'pannel'\lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)

,pid,majorcat,province,area,sex,age,a003,a010,a141,a144,...,p001G,provinceG,major_sameG,major_helpG,majorcatG,q015G,q016G,q017G,big_companyG,work_satiG
0,100166.0,1.0,2.0,8.0,2.0,22.500000,NaN,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,1.0,1.0,3.0,3.0,2.0,3.0
1,100191.0,1.0,4.0,7.0,2.0,26.916667,NaN,NaN,NaN,NaN,...,1.0,2.0,2.0,3.0,1.0,2.0,3.0,3.0,2.0,2.0
2,100212.0,1.0,2.0,8.0,2.0,24.666667,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,NaN,2.0
3,100221.0,1.0,2.0,8.0,2.0,25.250000,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,2.0,1.0,3.0,3.0,3.0,2.0,2.0
4,100232.0,1.0,3.0,11.0,1.0,25.250000,2.0,9.0,3.0,2.0,...,1.0,2.0,1.0,1.0,1.0,3.0,3.0,3.0,1.0,2.0

In [4]:
df.columns

Index(['pid', 'majorcat', 'province', 'area', 'sex', 'age', 'a003', 'a010',
       'a141', 'a144', 'a146', 'd016', 'd131', 'd134', 'd136', 'f073', 'f074',
       'h001', 'q001', 'q015', 'q016', 'q017', 'p001', 'First_Work', 'year',
       'Resign', 'a038', 'a039', 'a043', 'a045', 'g191a046', 'a048', 'a392',
       'a140', 'd130', 'Admission', 'Graduation', 'Cur', 'Cur_Work_date',
       'Start_Work1_date', 'End_Work1_date', 'Work_to_Cur', 'Start_to_End',
       'FirstWorkPeriod', 'LongWork', 'LongWork2', 'major_same', 'major_help',
       'big_company', 'work_sati', 'score', 'q001G', 'p001G', 'provinceG',
       'major_sameG', 'major_helpG', 'majorcatG', 'q015G', 'q016G', 'q017G',
       'big_companyG', 'work_satiG'],
      dtype='object')

##### 변수 변환
- 변수명 한글
- 값 한글

In [5]:
df_copy = df.copy()

In [6]:
df_copy['나이'] = df_copy['age']
df_copy['학점'] = df_copy['score']

In [7]:
# 성별 한글 변경
df_copy['성별'] = df_copy['sex'].apply(lambda x: '남자' if x == 1 else '여자' if x==2 else x)
print('변경 전 sex unique 및 counts')
print(df_copy.sex.value_counts().sort_index())
print('\n')
print('변경 후 sex unique 및 counts')
print(df_copy.성별.value_counts())

변경 전 sex unique 및 counts
1.0    2741
2.0    3067
Name: sex, dtype: int64


변경 후 sex unique 및 counts
여자    3067
남자    2741
Name: 성별, dtype: int64

In [8]:
# 건강상태 한글 변경
df_copy['건강상태'] = df_copy['q001G'].apply(lambda x: '건강하지않다' if x == 1 else '보통이다' if x==2 else '건강하다' if x==3 else x)
print('변경 전 q001G unique 및 counts')
print(df_copy.q001G.value_counts().sort_index())
print('\n')
print('변경 후 건강상태 unique 및 counts')
print(df_copy.건강상태.value_counts())

변경 전 q001G unique 및 counts
1.0     708
2.0    1588
3.0    3512
Name: q001G, dtype: int64


변경 후 건강상태 unique 및 counts
건강하다      3512
보통이다      1588
건강하지않다     708
Name: 건강상태, dtype: int64

In [9]:
# 결혼상태 한글 변경
df_copy['결혼상태'] = df_copy['p001G'].apply(lambda x: '미혼' if x == 1 else '기혼' if x==2 else x)
print('변경 전 p001G unique 및 counts')
print(df_copy.p001G.value_counts().sort_index())
print('\n')
print('변경 후 결혼상태 unique 및 counts')
print(df_copy.결혼상태.value_counts())

변경 전 p001G unique 및 counts
1.0    5694
2.0     114
Name: p001G, dtype: int64


변경 후 결혼상태 unique 및 counts
미혼    5694
기혼     114
Name: 결혼상태, dtype: int64

In [10]:
# 대학지역 한글 변경
df_copy['대학지역'] = df_copy['provinceG'].apply(lambda x: '수도권' if x == 1 else '비수도권' if x==2 else x)
print('변경 전 provinceG unique 및 counts')
print(df_copy.provinceG.value_counts().sort_index())
print('\n')
print('변경 후 대학지역 unique 및 counts')
print(df_copy.대학지역.value_counts())

변경 전 provinceG unique 및 counts
1.0    2586
2.0    3222
Name: provinceG, dtype: int64


변경 후 대학지역 unique 및 counts
비수도권    3222
수도권     2586
Name: 대학지역, dtype: int64

In [11]:
# 전공일치 한글 변경
df_copy['전공일치'] = df_copy['major_sameG'].apply(lambda x: '맞지않다' if x == 1 else '보통이다' if x==2 else '잘맞다' if x==3 else x)
print('변경 전 major_sameG unique 및 counts')
print(df_copy.major_sameG.value_counts().sort_index())
print('\n')
print('변경 후 전공일치 unique 및 counts')
print(df_copy.전공일치.value_counts())

변경 전 major_sameG unique 및 counts
1.0    2348
2.0    1493
3.0    1967
Name: major_sameG, dtype: int64


변경 후 전공일치 unique 및 counts
맞지않다    2348
잘맞다     1967
보통이다    1493
Name: 전공일치, dtype: int64

In [12]:
# 본전공 한글 변경
df_copy['본전공'] = df_copy['majorcatG'].apply(lambda x: '문과' if x == 1 else '이공계' if x==2 else '예체능' if x==3 else x)
print('변경 전 majorcatG unique 및 counts')
print(df_copy.majorcatG.value_counts().sort_index())
print('\n')
print('변경 후 본전공 unique 및 counts')
print(df_copy.본전공.value_counts())

변경 전 majorcatG unique 및 counts
1.0    2470
2.0    2599
3.0     739
Name: majorcatG, dtype: int64


변경 후 본전공 unique 및 counts
이공계    2599
문과     2470
예체능     739
Name: 본전공, dtype: int64

In [13]:
# 전공일치 한글 변경
df_copy['재학중일자리경험'] = df_copy['h001'].apply(lambda x: '있다' if x == 1 else '없다' if x==2 else x)
print('변경 전 h001 unique 및 counts')
print(df_copy.h001.value_counts().sort_index())
print('\n')
print('변경 후 재학중일자리경험 unique 및 counts')
print(df_copy.재학중일자리경험.value_counts())

변경 전 h001 unique 및 counts
1.0    3529
2.0    2279
Name: h001, dtype: int64


변경 후 재학중일자리경험 unique 및 counts
있다    3529
없다    2279
Name: 재학중일자리경험, dtype: int64

In [14]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_개인'] = df_copy['q015G'].apply(lambda x: '그렇지않다' if x == 1 else '보통이다' if x==2 else '그렇다' if x==3 else x)
print('변경 전 q015G unique 및 counts')
print(df_copy.q015G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_개인 unique 및 counts')
print(df_copy['삶의만족도_개인'].value_counts())

변경 전 q015G unique 및 counts
1.0     869
2.0    1113
3.0    3826
Name: q015G, dtype: int64


변경 후 삶의만족도_개인 unique 및 counts
그렇다      3826
보통이다     1113
그렇지않다     869
Name: 삶의만족도_개인, dtype: int64

In [15]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_관계'] = df_copy['q016G'].apply(lambda x: '그렇지않다' if x == 1 else '보통이다' if x==2 else '그렇다' if x==3 else x)
print('변경 전 q016G unique 및 counts')
print(df_copy.q016G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_관계 unique 및 counts')
print(df_copy['삶의만족도_관계'].value_counts())

변경 전 q016G unique 및 counts
1.0     583
2.0    1065
3.0    4160
Name: q016G, dtype: int64


변경 후 삶의만족도_관계 unique 및 counts
그렇다      4160
보통이다     1065
그렇지않다     583
Name: 삶의만족도_관계, dtype: int64

In [16]:
# 삶의만족도 한글 변경
df_copy['삶의만족도_소속집단'] = df_copy['q017G'].apply(lambda x: '그렇지않다' if x == 1 else '보통이다' if x==2 else '그렇다' if x==3 else x)
print('변경 전 q017G unique 및 counts')
print(df_copy.q017G.value_counts().sort_index())
print('\n')
print('변경 후 삶의만족도_소속집단 unique 및 counts')
print(df_copy['삶의만족도_소속집단'].value_counts())

변경 전 q017G unique 및 counts
1.0     687
2.0    1369
3.0    3752
Name: q017G, dtype: int64


변경 후 삶의만족도_소속집단 unique 및 counts
그렇다      3752
보통이다     1369
그렇지않다     687
Name: 삶의만족도_소속집단, dtype: int64

In [17]:
# 종사자수 한글 변경
df_copy['종사자수'] = df_copy['big_companyG'].apply(lambda x: '1000명이상' if x == 1 else '1000명미만' if x==2 else x)
print('변경 전 big_companyG unique 및 counts')
print(df_copy.big_companyG.value_counts().sort_index())
print('\n')
print('변경 후 종사자수 unique 및 counts')
print(df_copy['종사자수'].value_counts())

변경 전 big_companyG unique 및 counts
1.0     913
2.0    3585
Name: big_companyG, dtype: int64


변경 후 종사자수 unique 및 counts
1000명미만    3585
1000명이상     913
Name: 종사자수, dtype: int64

In [18]:
# 업무만족도 한글 변경
df_copy['업무만족도'] = df_copy['work_satiG'].apply(lambda x: '그렇지않다' if x == 1 else '보통이다' if x==2 else '그렇다' if x==3 else x)
print('변경 전 work_satiG unique 및 counts')
print(df_copy.work_satiG.value_counts().sort_index())
print('\n')
print('변경 후 업무만족도 unique 및 counts')
print(df_copy['업무만족도'].value_counts())

변경 전 work_satiG unique 및 counts
1.0    1036
2.0    2157
3.0    2615
Name: work_satiG, dtype: int64


변경 후 업무만족도 unique 및 counts
그렇다      2615
보통이다     2157
그렇지않다    1036
Name: 업무만족도, dtype: int64

In [19]:
df_copy.columns

Index(['pid', 'majorcat', 'province', 'area', 'sex', 'age', 'a003', 'a010',
       'a141', 'a144', 'a146', 'd016', 'd131', 'd134', 'd136', 'f073', 'f074',
       'h001', 'q001', 'q015', 'q016', 'q017', 'p001', 'First_Work', 'year',
       'Resign', 'a038', 'a039', 'a043', 'a045', 'g191a046', 'a048', 'a392',
       'a140', 'd130', 'Admission', 'Graduation', 'Cur', 'Cur_Work_date',
       'Start_Work1_date', 'End_Work1_date', 'Work_to_Cur', 'Start_to_End',
       'FirstWorkPeriod', 'LongWork', 'LongWork2', 'major_same', 'major_help',
       'big_company', 'work_sati', 'score', 'q001G', 'p001G', 'provinceG',
       'major_sameG', 'major_helpG', 'majorcatG', 'q015G', 'q016G', 'q017G',
       'big_companyG', 'work_satiG', '나이', '학점', '성별', '건강상태', '결혼상태', '대학지역',
       '전공일치', '본전공', '재학중일자리경험', '삶의만족도_개인', '삶의만족도_관계', '삶의만족도_소속집단', '종사자수',
       '업무만족도'],
      dtype='object')

In [20]:
df_copy.to_csv('2023_04_06_data_step.csv', index=False, encoding='cp949')