### 데이터 타입 실수형 이라고 나오게

### 앞에서 만든 실수형 데이터를 정수로 바꿔보기

### 5개의 데이터로 이루어진 리스트형 변수를 만들어서 마지막에 'abc'를 추가해보기

### 앞에서 만든 리스트 변수에서 2번째 인덱스를 삭제하기 2가지 방법 다 사용해보기

### a = [1,2,3,4,5,6,7,8,9] 에서 슬라이싱을 이용하여 1,3,5,7,9 만 나오게 해보기

### f = ['사과', '바나나', '파인애플', '배', '수박', '키위', '오렌지', '망고', '딸기']
- 바나나, 수박 오렌지 추출하기

In [19]:
a = [[1,2,3],[4,5,6],[7,8]]
a[2].extend([9])
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [25]:
a = (1, 2, 3, 4)
a = list(a)
a.insert(1,100)
a = tuple(a)
a

(1, 100, 2, 3, 4)

In [37]:
a = ('Hello, World')
b = ('World To World')
c = ('world to world')

In [39]:
'-'.join(a)
a

'Hello, World'

In [41]:
a = list(a)
b = list(b)
c = list(c)

In [43]:
a and b

['W', 'o', 'r', 'l', 'd', ' ', 'T', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [44]:
sample = 'abc-def.789/100'
','.join(sample)

'a,b,c,-,d,e,f,.,7,8,9,/,1,0,0'