<h5> Cow Project </h5>

<img src = 'https://www.newsworks.co.kr/news/photo/202103/537213_423279_554.jpg' width = '500px' height ='300px' title = 'Cow project' alt = 'Error image'></img><br/>

In [ ]:
# Using package
import pandas as pd
import os
import pandas_profiling

<h4> EDA </h4>

In [3]:
os.chdir('C:\\Users\\user\\Desktop\\윤태준\\소')
# File형식 cp949
cow = pd.read_csv('5대_근내eng.csv', encoding = 'cp949')

In [10]:
cow.head() # 깨지지 않고 잘 불러와졌나 확인

,a_id,a_sex,a_birth,slaughter_month,slaughter_day,class,slaughter_weight,intramusular_fat,b_id,b_intramusular_fat,...,d_total,d_sibling_count,e_id,e_intramusular_fat,e_total,e_sibling_count,f_id,f_intramusular_fat,f_total,f_sibling_count
0,2113863697,암,2017-01-02,57,2021-09-02,1+A,326,6.0,2095314236,6.00,...,6,2,194979830,4.33,13,3,109356271,4.33,26,6
1,2309293566,암,2014-06-11,47,2018-05-09,1+C,337,6.0,2300038334,6.00,...,7,1,179596182,5.33,16,3,168165009,4.00,4,1
2,2132860594,암,2018-10-20,49,2022-10-27,2B,418,3.0,2112895875,3.00,...,19,5,2063113080,5.40,27,5,191185845,3.00,3,1
3,2152625168,수,2020-06-28,28,2022-10-10,1++A,460,7.0,2116583128,7.00,...,16,4,2053023954,5.25,21,4,196590583,5.25,21,4
4,2145982813,거세,2020-01-07,34,2022-10-26,1+B,656,6.0,2103023185,6.67,...,10,3,194803074,4.50,18,4,173967377,5.00,5,1

In [ ]:
pr=cow.profile_report() # Saving in pr what cow data profiling result report
# pr.to_file('cow_profiling_report.html') # Saving a report in html 
# pr # Checking report