#### Module import

In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.getcwd()

'c:\\Users\\Owner\\Desktop\\윤태준\\소'

##### Path

In [4]:
os.chdir('./3차 요청자료/2023-02-07근내지방_5')
os.getcwd()

'c:\\Users\\Owner\\Desktop\\윤태준\\소\\3차 요청자료\\2023-02-07근내지방_5'

##### Check
> 또 마지막 변수명 외증조로 중복돼있음, 일단 파일 한번에 불러서 합친 다음 변수명 다시 바꾸기

In [5]:
# 확인
a1 = pd.read_excel('근내지방5_0.xlsx')
a1.head()

,이표번호,KPN,성별,출생일,농가코드,농가등급,도축개월,도축일,등급,도체중,...,외증조할미형매 등심단면적 평균,외증조할미형매 등지방 평균,외증조할미형매 근내지방 평균,외증조할미형매 마릿수,외고고조할미 이표번호,외증조할미형매 도체중 평균.1,외증조할미형매 등심단면적 평균.1,외증조할미형매 등지방 평균.1,외증조할미형매 근내지방 평균.1,외증조할미형매 마릿수.1
0,2153702904,KPN1159,암,2020-07-10,471813,1+B,31,2023-01-26,1+B,423,...,84.17,14.33,4.0,6,191430013,367.0,81.0,8.00,4.00,1
1,2151092783,KPN1124,거세,2020-05-04,465561,1+B,31,2022-11-28,1A,459,...,93.33,13.00,5.0,3,195655634,428.0,91.0,18.67,6.33,3
2,2152856190,KPN1243,거세,2020-06-03,463150,1+C,32,2023-01-13,1+B,502,...,59.00,11.00,5.5,2,111579762,357.0,84.5,18.00,4.00,2
3,2132846585,KPN1078,암,2018-07-29,349362,1+C,54,2023-01-02,1+B,331,...,83.00,7.00,3.0,1,175535796,347.0,87.0,15.00,3.00,1
4,2143085535,KPN1060,거세,2019-08-27,227596,1+C,35,2022-07-13,1++B,572,...,73.50,17.00,1.5,2,195224694,332.0,79.0,20.00,5.00,3

In [6]:
# 파일이 존재하는 경로 불러오기 및 리스트
path = os.getcwd()
file_lst = os.listdir(path)# 파일 이름 담기
file_lst

['근내지방5_0.xlsx',
 '근내지방5_1.xlsx',
 '근내지방5_2.xlsx',
 '근내지방5_3.xlsx',
 '근내지방5_4.xlsx',
 '근내지방5_5.xlsx',
 '근내지방5_6.xlsx',
 '근내지방5_7.xlsx',
 '근내지방5_8.xlsx']

##### ↓ 반복문으로 파일 불러오면서, 하나의 DataFrame으로 합침

In [13]:
df_5 = pd.DataFrame()
for i in file_lst:
    data_5 = pd.read_excel(path +'/'+i)
    df_5 = pd.concat([df_5, data_5])
    
df_5 = df_5.reset_index(drop = True)

In [14]:
# 확인
print(df_5.shape)
df_5.head()

(4388, 47)

,이표번호,KPN,성별,출생일,농가코드,농가등급,도축개월,도축일,등급,도체중,...,외증조할미형매 등심단면적 평균,외증조할미형매 등지방 평균,외증조할미형매 근내지방 평균,외증조할미형매 마릿수,외고고조할미 이표번호,외증조할미형매 도체중 평균.1,외증조할미형매 등심단면적 평균.1,외증조할미형매 등지방 평균.1,외증조할미형매 근내지방 평균.1,외증조할미형매 마릿수.1
0,2153702904,KPN1159,암,2020-07-10,471813,1+B,31,2023-01-26,1+B,423,...,84.17,14.33,4.0,6,191430013,367.0,81.0,8.00,4.00,1
1,2151092783,KPN1124,거세,2020-05-04,465561,1+B,31,2022-11-28,1A,459,...,93.33,13.00,5.0,3,195655634,428.0,91.0,18.67,6.33,3
2,2152856190,KPN1243,거세,2020-06-03,463150,1+C,32,2023-01-13,1+B,502,...,59.00,11.00,5.5,2,111579762,357.0,84.5,18.00,4.00,2
3,2132846585,KPN1078,암,2018-07-29,349362,1+C,54,2023-01-02,1+B,331,...,83.00,7.00,3.0,1,175535796,347.0,87.0,15.00,3.00,1
4,2143085535,KPN1060,거세,2019-08-27,227596,1+C,35,2022-07-13,1++B,572,...,73.50,17.00,1.5,2,195224694,332.0,79.0,20.00,5.00,3

##### 변수명 재설정

In [16]:
df_5.columns

Index(['이표번호', 'KPN', '성별', '출생일', '농가코드', '농가등급', '도축개월', '도축일', '등급', '도체중',
       '등심단면적', '등지방두께', '근내지방도', '육색', '지방색', '성숙도', '조직도', '어미 이표번호',
       '형매 도체중 평균', '형매 등심단면적 평균', '형매 등지방 평균', '형매 근내지방 평균', '형매 마릿수',
       '외할미 이표번호', '어미형매 도체중 평균', '어미형매 등심단면적 평균', '어미형매 등지방 평균',
       '어미형매 근내지방 평균', '어미형매 마릿수', '외증조할미 이표번호', '외할미형매 도체중 평균',
       '외할미형매 등심단면적 평균', '외할미형매 등지방 평균', '외할미형매 근내지방 평균', '외할미형매 마릿수',
       '외고조할미 이표번호', '외증조할미형매 도체중 평균', '외증조할미형매 등심단면적 평균', '외증조할미형매 등지방 평균',
       '외증조할미형매 근내지방 평균', '외증조할미형매 마릿수', '외고고조할미 이표번호', '외증조할미형매 도체중 평균.1',
       '외증조할미형매 등심단면적 평균.1', '외증조할미형매 등지방 평균.1', '외증조할미형매 근내지방 평균.1',
       '외증조할미형매 마릿수.1'],
      dtype='object')

In [17]:
# 원래 변수명
df_5_c = df_5.copy()
df_5.columns = ['이표번호', 'KPN', '성별', '출생일', '농가코드', '농가등급', '도축개월', '도축일', '등급', '도체중',
       '등심단면적', '등지방두께', '근내지방도', '육색', '지방색', '성숙도', '조직도', '어미 이표번호',
       '형매 도체중 평균', '형매 등심단면적 평균', '형매 등지방 평균', '형매 근내지방 평균', '형매 마릿수',
       '외할미 이표번호', '어미형매 도체중 평균', '어미형매 등심단면적 평균', '어미형매 등지방 평균',
       '어미형매 근내지방 평균', '어미형매 마릿수', '외증조할미 이표번호', '외할미형매 도체중 평균',
       '외할미형매 등심단면적 평균', '외할미형매 등지방 평균', '외할미형매 근내지방 평균', '외할미형매 마릿수',
       '외고조할미 이표번호', '외증조할미형매 도체중 평균', '외증조할미형매 등심단면적 평균', '외증조할미형매 등지방 평균',
       '외증조할미형매 근내지방 평균', '외증조할미형매 마릿수', '외고고조할미 이표번호', '외고조할미형매_도체중_평균', '외고조할미형매_등심단면적_평균', '외고조할미형매_등지방_평균', '외고조할미형매_근내지방_평균',
    '외고조할미형매_마릿수'
]

In [18]:
df_5.columns

Index(['이표번호', 'KPN', '성별', '출생일', '농가코드', '농가등급', '도축개월', '도축일', '등급', '도체중',
       '등심단면적', '등지방두께', '근내지방도', '육색', '지방색', '성숙도', '조직도', '어미 이표번호',
       '형매 도체중 평균', '형매 등심단면적 평균', '형매 등지방 평균', '형매 근내지방 평균', '형매 마릿수',
       '외할미 이표번호', '어미형매 도체중 평균', '어미형매 등심단면적 평균', '어미형매 등지방 평균',
       '어미형매 근내지방 평균', '어미형매 마릿수', '외증조할미 이표번호', '외할미형매 도체중 평균',
       '외할미형매 등심단면적 평균', '외할미형매 등지방 평균', '외할미형매 근내지방 평균', '외할미형매 마릿수',
       '외고조할미 이표번호', '외증조할미형매 도체중 평균', '외증조할미형매 등심단면적 평균', '외증조할미형매 등지방 평균',
       '외증조할미형매 근내지방 평균', '외증조할미형매 마릿수', '외고고조할미 이표번호', '외고조할미형매_도체중_평균',
       '외고조할미형매_등심단면적_평균', '외고조할미형매_등지방_평균', '외고조할미형매_근내지방_평균', '외고조할미형매_마릿수'],
      dtype='object')

In [24]:
# 원 데이터와 변수명 변경 후 데이터 차이 확인
# numpy의 setdiff1d(a, b)를 이용해서, a와 b를 비교하여 b에 없는 것 확인
print(f'변경 후 변수명 : {np.setdiff1d(df_5.columns, df_5_c.columns)}')
print(f'변경 전 변수명 : {np.setdiff1d(df_5_c.columns, df_5.columns)}')

변경 후 변수명 : ['외고조할미형매_근내지방_평균' '외고조할미형매_도체중_평균' '외고조할미형매_등심단면적_평균' '외고조할미형매_등지방_평균'
 '외고조할미형매_마릿수']
변경 전 변수명 : ['외증조할미형매 근내지방 평균.1' '외증조할미형매 도체중 평균.1' '외증조할미형매 등심단면적 평균.1'
 '외증조할미형매 등지방 평균.1' '외증조할미형매 마릿수.1']

In [25]:
df_5.성별.value_counts()

거세    2871
암     1517
Name: 성별, dtype: int64

In [27]:
a1.성별.value_counts()

거세    264
암     206
Name: 성별, dtype: int64

##### 성별 및 근내지방도 변수변환
> <p> <span style = 'color : orange' > 성별 : {F:암, N_M:거세} <span> </p>
> <p> <span style = 'color : orange' > 근내지방도 : {1 : (7~9), 0: (1~6)} <span> </p>

In [34]:
# 성별 암, 거세 => F, N_M 변환
df_5.성별 = df_5.성별.apply(lambda x: 'F' if x == '암' else 'N_M' if x =='거세' else x )
print('변경 전 성별 unique 및 counts')
print(df_5_c.성별.value_counts())
print('\n')
print('변경 후 성별 unique 및 counts')
print(df_5.성별.value_counts())

변경 전 성별 unique 및 counts
거세    2871
암     1517
Name: 성별, dtype: int64


변경 후 성별 unique 및 counts
N_M    2871
F      1517
Name: 성별, dtype: int64

In [35]:
# 근내지방도 0, 1 변경
df_5['근내지방도'] = df_5['근내지방도'].apply(lambda x: 1 if x >= 7 else 0 if x < 7 else x)
print('변경 전 근내지방도 unique 및 counts')
print(df_5_c.근내지방도.value_counts())
print('\n')
print('변경 후 근내지방도 unique 및 counts')
print(df_5.근내지방도.value_counts())

변경 전 근내지방도 unique 및 counts
6.0    1211
4.0     641
7.0     483
5.0     480
9.0     445
8.0     443
3.0     334
2.0     268
1.0      76
Name: 근내지방도, dtype: int64


변경 후 근내지방도 unique 및 counts
0.0    3010
1.0    1371
Name: 근내지방도, dtype: int64

In [40]:
df_5.to_csv('../소_5대 정리/5_total_utf.csv', index= False)

#### Data import

In [3]:
# path
os.chdir('./3차 요청자료/소_5대 정리')
os.getcwd()

'c:\\Users\\Owner\\Desktop\\윤태준\\소\\3차 요청자료\\소_5대 정리'

In [4]:
full_df = pd.read_csv('5_total_cp.csv', encoding='cp949')

#### 농가 분류를 위한 작업
> 1. 농가 id 고유값 확인
> 2. 농가 id에 따른 등급이 있는데, 각 id별 farm_class가 동일한지 확인

In [5]:
print(full_df.shape)
print(f'농가_id, unique 개수:{len(full_df.farm_id.unique())}')
print('\n')
print(full_df.farm_id.value_counts())

(4388, 47)
농가_id, unique 개수:2957


73569     22
228166    15
407775    14
75021     13
124549    12
          ..
375557     1
87562      1
450045     1
86732      1
379072     1
Name: farm_id, Length: 2957, dtype: int64

In [6]:
print('73569농가의 등급')
print(full_df[full_df['farm_id']==73569]['farm_class'].head())
print(full_df[full_df['farm_id']==73569]['farm_class'].tail())
print('\n')
print('228166농가의 등급')
print(full_df[full_df['farm_id']==228166]['farm_class'].head())
print(full_df[full_df['farm_id']==228166]['farm_class'].tail())

73569농가의 등급
657     1+C
792     1+C
3871    1+C
3872    1+C
3873    1+C
Name: farm_class, dtype: object
4082    1+C
4083    1+C
4084    1+C
4085    1+C
4086    1+C
Name: farm_class, dtype: object


228166농가의 등급
104     1+B
1454    1+B
1822    1+B
1828    1+B
1847    1+B
Name: farm_class, dtype: object
2161    1+B
3672    1+B
3728    1+B
3788    1+B
4307    1+B
Name: farm_class, dtype: object

In [7]:
# 농가 id별 class 최빈값
a1 = full_df.groupby('farm_id')['farm_class'].agg(**{
    'most_common_value':lambda x:x.mode()
}).reset_index()

#### 농가 id별 target 평균

In [8]:
gr_target = full_df.groupby(['farm_id'])['target'].agg(**{'mean_target':'mean'}).reset_index()

# 소숫점 2자리까지 반올림
gr_target.mean_target = gr_target.mean_target.round(2)

In [9]:
# 내림차순 정렬 및 원래 농가 등급을 id별로 붙여 넣어 비교해보기

# 1. target 평균 기준으로 내림차순 정렬
gr_t = gr_target.copy()
gr_t.sort_values('mean_target', ascending=False, inplace=True)
print(gr_t.head())

# 2. target 평균 값과 비교하여 농가 등급이 진짜 우수한지, 원 데이터의 농가 등급 변수를 추가하기
farm = full_df[['farm_id', 'farm_class']].reset_index()
df_mer = pd.merge(gr_t, farm, how='left', left_on= 'farm_id', right_on='farm_id')

      farm_id  mean_target
0        1605          1.0
2664   452678          1.0
2372   436357          1.0
2370   436312          1.0
932    227473          1.0