# <h5 style = 'font-size:45px'> <span style = 'color:yellow'> Link <span> </h5>
[Markdown꾸미기](https://leedakyeong.tistory.com/entry/Markdown-Jupyter-Notebook-%EC%A3%BC%ED%94%BC%ED%84%B0-%EB%85%B8%ED%8A%B8%EB%B6%81-%EB%A7%88%ED%81%AC%EB%8B%A4%EC%9A%B4-%EC%A0%95%EB%A6%AC)  
[Notion](https://gravel-turnover-821.notion.site/850bc7ba43a44299ae41bd4144d7462f)

<h5> <span style = 'color:blue'> Cow Project<span> </h5>

<img src = 'https://www.newsworks.co.kr/news/photo/202103/537213_423279_554.jpg' width = '500px' height ='300px' title = 'Cow project' alt = 'Error image'></img><br/>

In [1]:
# Using package
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
# plot korean title
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
from sklearn.model_selection import train_test_split

<h4> 파일에 존재하는 데이터 한꺼번에 불러오기 </h4>

In [2]:
os.chdir('C:\\Users\\Owner\\Desktop\\윤태준\\소\\윤태준_김다은\\2022-11-25근내지방 3계대')
os.getcwd()

'C:\\Users\\Owner\\Desktop\\윤태준\\소\\윤태준_김다은\\2022-11-25근내지방 3계대'

In [3]:
# 파일이 존재하는 경로 불러오기 및 리스트
path = os.getcwd()
file_lst = os.listdir(path)# 파일 이름 담기
file_lst

['근내지방_0.xlsx',
 '근내지방_1.xlsx',
 '근내지방_10.xlsx',
 '근내지방_11.xlsx',
 '근내지방_12.xlsx',
 '근내지방_13.xlsx',
 '근내지방_14.xlsx',
 '근내지방_15.xlsx',
 '근내지방_16.xlsx',
 '근내지방_17.xlsx',
 '근내지방_2.xlsx',
 '근내지방_3.xlsx',
 '근내지방_4.xlsx',
 '근내지방_5.xlsx',
 '근내지방_6.xlsx',
 '근내지방_7.xlsx',
 '근내지방_8.xlsx',
 '근내지방_9.xlsx']

##### ↓ 반복문으로 파일 불러오면서, 하나의 DataFrame으로 합침

In [4]:
df_3 = pd.DataFrame()
for i in file_lst:
    data_3 = pd.read_excel(path +'/'+i)
    df_3 = pd.concat([df_3, data_3])
    
df_3 = df_3.reset_index(drop = True)

In [5]:
# 데이터 확인
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532653 entries, 0 to 532652
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   이표번호            532653 non-null  int64
 1   KPN             532653 non-null  object
 2   성별              532653 non-null  object
 3   출생일             532653 non-null  object
 4   도축개월            532650 non-null  float64
 5   도축일             532653 non-null  object
 6   등급              532653 non-null  object
 7   도체중             532653 non-null  int64
 8   등심단면적           532085 non-null  float64
 9   등지방두께           532123 non-null  float64
 10  근내지방도           531728 non-null  float64
 11  육색              532653 non-null  int64
 12  지방색             532653 non-null  int64
 13  성숙도             532653 non-null  int64
 14  조직도             532653 non-null  int64
 15  어미 이표번호         532653 non-null  int64
 16  형매 도체중 평균       532653 non-null  float64
 17  형매 등심단면적 평균     532653 non-null  float64
 18  형매 등지방 평균       532653 non-null  float64
 19  형매 근내지방 평균      532653 non-null  float64
 20  형매 마릿수          532653 non-null  int64
 21  외할미 이표번호        532653 non-null  int64
 22  어미형매 도체중 평균     532653 non-null  float64
 23  어미형매 등심단면적 평균   532653 non-null  float64
 24  어미형매 등지방 평균     532653 non-null  float64
 25  어미형매 근내지방 평균    532653 non-null  float64
 26  어미형매 마릿수        532653 non-null  int64
 27  외증조할미 이표번호      532653 non-null  int64
 28  외할미형매 도체중 평균    532653 non-null  float64
 29  외할미형매 등심단면적 평균  532653 non-null  float64
 30  외할미형매 등지방 평균    532653 non-null  float64
 31  외할미형매 근내지방 평균   532653 non-null  float64
 32  외할미형매 마릿수       532653 non-null  int64
dtypes: float64(16), int64(12), object(5)
memory usage: 134.1+ MB

In [13]:
df_3.head()

,이표번호,KPN,성별,출생일,도축개월,도축일,등급,도체중,등심단면적,등지방두께,...,어미형매 등심단면적 평균,어미형매 등지방 평균,어미형매 근내지방 평균,어미형매 마릿수,외증조할미 이표번호,외할미형매 도체중 평균,외할미형매 등심단면적 평균,외할미형매 등지방 평균,외할미형매 근내지방 평균,외할미형매 마릿수
0,2146424082,KPN1233,암,2019-11-01,31.0,2022-05-23,1B,484,112.0,12.0,...,97.0,8.0,5.0,1,2078801406,427.25,86.75,15.00,2.75,4
1,2122073288,KPN946,거세,2017-09-30,30.0,2020-03-25,1+A,471,106.0,10.0,...,87.5,11.0,2.0,2,2016613635,386.00,87.25,20.50,5.50,4
2,2113675893,KPN1009,암,2016-12-17,71.0,2022-10-25,2B,407,82.0,13.0,...,81.2,11.2,4.4,5,162626314,363.40,76.40,14.00,5.00,5
3,2147230382,KPN1240,거세,2020-02-02,34.0,2022-11-21,1+B,554,96.0,13.0,...,85.0,16.5,4.5,2,196448808,347.67,87.00,10.33,5.67,3
4,2153357549,KPN1488,수,2020-06-03,24.0,2022-05-10,1A,356,69.0,7.0,...,95.5,9.0,4.5,2,192515207,368.57,87.14,9.57,3.29,7

<h5> 근내지방도 7,8,9 : 1, 나머지: 0 변환 </h5>

In [14]:
df_3.근내지방도.value_counts().sort_index()

1.0     16822
2.0     41856
3.0     45031
4.0     86311
5.0     62474
6.0    131721
7.0     57172
8.0     47055
9.0     43286
Name: 근내지방도, dtype: int64

In [15]:
cow_3 = df_3.copy()
cow_3['근내지방도'] = cow_3['근내지방도'].apply(lambda x: 1 if x >= 7 else 0 if x < 7 else x)
print(cow_3.근내지방도.value_counts())
print('\n')
cow_3.info()

0.0    384215
1.0    147513
Name: 근내지방도, dtype: int64


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532653 entries, 0 to 532652
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   이표번호            532653 non-null  int64
 1   KPN             532653 non-null  object
 2   성별              532653 non-null  object
 3   출생일             532653 non-null  object
 4   도축개월            532650 non-null  float64
 5   도축일             532653 non-null  object
 6   등급              532653 non-null  object
 7   도체중             532653 non-null  int64
 8   등심단면적           532085 non-null  float64
 9   등지방두께           532123 non-null  float64
 10  근내지방도           531728 non-null  float64
 11  육색              532653 non-null  int64
 12  지방색             532653 non-null  int64
 13  성숙도             532653 non-null  int64
 14  조직도             532653 non-null  int64
 15  어미 이표번호         532653 non-null  int64
 16  형매 도체중 평균       532653 non-null  float64
 17  형매 등심단면적 평균     532653 non-null  float64
 18  형매 등지방 평균       532653 non-null  float64
 19  형매 근내지방 평균      532653 non-null  float64
 20  형매 마릿수          532653 non-null  int64
 21  외할미 이표번호        532653 non-null  int64
 22  어미형매 도체중 평균     532653 non-null  float64
 23  어미형매 등심단면적 평균   532653 non-null  float64
 24  어미형매 등지방 평균     532653 non-null  float64
 25  어미형매 근내지방 평균    532653 non-null  float64
 26  어미형매 마릿수        532653 non-null  int64
 27  외증조할미 이표번호      532653 non-null  int64
 28  외할미형매 도체중 평균    532653 non-null  float64
 29  외할미형매 등심단면적 평균  532653 non-null  float64
 30  외할미형매 등지방 평균    532653 non-null  float64
 31  외할미형매 근내지방 평균   532653 non-null  float64
 32  외할미형매 마릿수       532653 non-null  int64
dtypes: float64(16), int64(12), object(5)
memory usage: 134.1+ MB

<h5> train_test_split, 7:3 </h5>

In [20]:
X_3 = cow_3.drop(['근내지방도'],axis=1)
Y_3 = cow_3.근내지방도
X_train_3, X_test_3, Y_train_3, Y_test_3 = train_test_split(X, Y, test_size=0.3, random_state = 7777)

<h5> 독립변수, 종속변수 합치기 나중에 데이터 불러오기 쉽게 </h5>

In [21]:
train_3 = pd.concat([X_train_3,Y_train_3], axis=1)
test_3 = pd.concat([X_test_3,Y_test_3], axis=1)

In [24]:
train_3.shape

(372857, 33)

In [27]:
train_3.to_csv('C:\\Users\\Owner\\Desktop\\윤태준\\소\\윤태준_김다은\\3계대 정리\\3_train.csv',encoding='cp949',index=False)
test_3.to_csv('C:\\Users\\Owner\\Desktop\\윤태준\\소\\윤태준_김다은\\3계대 정리\\3_test.csv',encoding='cp949',index=False)