In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
os.getcwd()

'c:\\Users\\Owner\\Desktop\\윤태준\\소\\3차 요청자료\\230504_Analysis'

In [3]:
df = pd.read_csv('a.csv', encoding = 'cp949')

In [4]:
df_copy = df.copy()

In [5]:
df_copy.KPN.unique()[:5]

array(['KPN1053', 'KPN1060', 'KPN1099', 'KPN1284', 'KPN1113'],
      dtype=object)

In [12]:
df_copy['kpn_']=np.nan
df_copy['kpn_mean']=np.nan
df_copy['kpn_median']=np.nan

In [13]:
df_copy[['kpn_','kpn_mean','kpn_median']]

        kpn_  kpn_mean  kpn_median
0        NaN       NaN         NaN
1        NaN       NaN         NaN
2        NaN       NaN         NaN
3        NaN       NaN         NaN
4        NaN       NaN         NaN
...      ...       ...         ...
110166   NaN       NaN         NaN
110167   NaN       NaN         NaN
110168   NaN       NaN         NaN
110169   NaN       NaN         NaN
110170   NaN       NaN         NaN

[110171 rows x 3 columns]

In [14]:
df_copy['kpn_'] = df_copy['kpn_'].fillna(df_copy.groupby('KPN')['TARGET'].transform('mean'))

In [15]:
df_copy['kpn_median'] = df_copy['kpn_median'].fillna(df_copy.groupby('KPN')['TARGET'].transform('median'))

In [16]:
df_copy[['KPN','kpn_','kpn_median']]

            KPN      kpn_  kpn_median
0       KPN1053  4.918033         5.0
1       KPN1060  5.808511         6.0
2       KPN1099  5.893764         6.0
3       KPN1284  2.333333         2.0
4       KPN1060  5.808511         6.0
...         ...       ...         ...
110166   KPN961  6.033755         6.0
110167   KPN789  5.322943         6.0
110168   KPN881  5.348515         6.0
110169   KPN768  6.115274         6.0
110170   KPN999  6.077449         6.0

[110171 rows x 3 columns]

In [11]:
# df_copy['kpn_mean']=df_copy['kpn_'].round()
# df_copy['kpn_median']=df_copy['kpn_median'].round()
# df_copy[['kpn_median','kpn_mean']].head(10)

   kpn_median  kpn_mean
0         5.0       5.0
1         6.0       6.0
2         6.0       6.0
3         2.0       2.0
4         6.0       6.0
5         6.0       6.0
6         6.0       6.0
7         5.0       5.0
8         6.0       6.0
9         5.0       5.0

In [17]:
df_copy.columns

Index(['ID', 'KPN', 'GENDER', 'BIR', 'FARM_ID', 'FARM_CLASS', 'SL_M', 'SL_D',
       'CLASS', 'S_W', 'I_A', 'F_T', 'TARGET', 'B_C', 'F_C', 'M_L', 'ORGAN',
       'MOM_ID', 'S_M_W', 'S_M_I', 'S_F_M', 'S_T_M', 'S_C', 'A_ID', 'A_S_M_W',
       'A_S_M_I', 'A_S_F_M', 'A_S_T_M', 'A_S_C', 'B_ID', 'B_S_M_W', 'B_S_M_I',
       'B_S_F_M', 'B_S_T_M', 'B_S_C', 'C_ID', 'C_S_M_W', 'C_S_M_I', 'C_S_F_M',
       'C_S_T_M', 'C_S_C', 'D_ID', 'D_S_M_W', 'D_S_M_I', 'D_S_F_M', 'D_S_T_M',
       'D_S_C', 'FARM_LEVEL', 'TARGET1', 'TARGET2', 'kpn_', 'kpn_mean',
       'kpn_median'],
      dtype='object')

In [29]:
df.loc[(df['TARGET']>=4)&(df['TARGET']<=6)]['CLASS'].value_counts()

1B     16050
1+B    13909
1C      8685
1+C     8240
1A      6568
1+A     5477
2B       121
2C        63
2A        46
등외         3
3A         1
3B         1
Name: CLASS, dtype: int64

In [33]:
# 64개
df_copy.loc[(df_copy['kpn_']>7)]

,ID,KPN,GENDER,BIR,FARM_ID,FARM_CLASS,SL_M,SL_D,CLASS,S_W,...,D_S_M_I,D_S_F_M,D_S_T_M,D_S_C,FARM_LEVEL,TARGET1,TARGET2,kpn_,kpn_mean,kpn_median
42,2151075197,KPN1489,거세,2020-05-03,428994,1+C,32,2022-12-15,1++B,578,...,0.0,0.0,0.0,0,2,1,0,8.000000,NaN,8.0
837,2151076245,KPN1490,암,2020-04-28,226847,1A,29,2022-09-26,1++A,333,...,0.0,0.0,0.0,0,3,1,1,9.000000,NaN,9.0
1568,2157971629,KPN1420,거세,2020-09-09,442491,1+B,28,2022-12-21,1+B,509,...,0.0,0.0,0.0,0,2,0,0,8.000000,NaN,9.0
1900,2137692577,KPN1420,암,2019-04-12,113865,1A,45,2022-12-14,1++B,455,...,0.0,0.0,0.0,0,3,1,1,8.000000,NaN,9.0
2822,2151766950,KPN1467,거세,2020-04-21,97177,1+C,31,2022-11-07,1++C,557,...,0.0,0.0,0.0,0,2,1,1,9.000000,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103087,2098114427,KPN1132,거세,2015-05-23,70592,1+C,33,2018-01-24,1+B,505,...,98.0,16.0,7.0,1,2,1,0,7.500000,NaN,7.5
105860,2145989026,KPN1479,거세,2019-09-10,453827,1+A,28,2021-12-30,1++B,468,...,0.0,0.0,0.0,0,2,1,0,8.000000,NaN,8.0
107897,2049057189,KPN800,거세,2009-12-30,138567,1B,29,2012-05-16,1++B,499,...,0.0,0.0,0.0,0,3,1,1,8.000000,NaN,8.0
107900,2049057172,KPN800,거세,2009-12-30,138567,1B,29,2012-05-16,1+B,459,...,0.0,0.0,0.0,0,3,1,0,8.000000,NaN,8.0
108527,2123055109,KPN1315,암,2017-11-14,77839,1A,29,2020-04-07,1+B,375,...,0.0,0.0,0.0,0,3,0,0,7.333333,NaN,8.0

In [34]:
# 64개
df_copy.loc[(df_copy['kpn_median']>7)]

,ID,KPN,GENDER,BIR,FARM_ID,FARM_CLASS,SL_M,SL_D,CLASS,S_W,...,D_S_M_I,D_S_F_M,D_S_T_M,D_S_C,FARM_LEVEL,TARGET1,TARGET2,kpn_,kpn_mean,kpn_median
26,2150888978,KPN1372,암,2020-06-22,457418,1+B,32,2023-01-25,1+B,448,...,0.00,0.00,0.00,0,2,0,0,6.444444,NaN,8.0
42,2151075197,KPN1489,거세,2020-05-03,428994,1+C,32,2022-12-15,1++B,578,...,0.00,0.00,0.00,0,2,1,0,8.000000,NaN,8.0
837,2151076245,KPN1490,암,2020-04-28,226847,1A,29,2022-09-26,1++A,333,...,0.00,0.00,0.00,0,3,1,1,9.000000,NaN,9.0
1345,2147367356,KPN1305,암,2020-03-28,470182,1A,34,2022-12-28,1+B,407,...,70.67,16.67,3.67,3,3,0,0,6.972222,NaN,7.5
1568,2157971629,KPN1420,거세,2020-09-09,442491,1+B,28,2022-12-21,1+B,509,...,0.00,0.00,0.00,0,2,0,0,8.000000,NaN,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105860,2145989026,KPN1479,거세,2019-09-10,453827,1+A,28,2021-12-30,1++B,468,...,0.00,0.00,0.00,0,2,1,0,8.000000,NaN,8.0
107897,2049057189,KPN800,거세,2009-12-30,138567,1B,29,2012-05-16,1++B,499,...,0.00,0.00,0.00,0,3,1,1,8.000000,NaN,8.0
107900,2049057172,KPN800,거세,2009-12-30,138567,1B,29,2012-05-16,1+B,459,...,0.00,0.00,0.00,0,3,1,0,8.000000,NaN,8.0
108527,2123055109,KPN1315,암,2017-11-14,77839,1A,29,2020-04-07,1+B,375,...,0.00,0.00,0.00,0,3,0,0,7.333333,NaN,8.0
108900,2138467665,KPN1305,거세,2019-04-09,402937,1+B,29,2021-09-01,1++B,552,...,0.00,0.00,0.00,0,2,1,0,6.972222,NaN,7.5

In [38]:
df_copy['kpn_mean_class'] = df_copy.kpn_.apply(lambda x: 'A' if 7 < x <= 9 
                                            else 'B' if 5 < x <= 7 else 'C' )
df_copy['kpn_median_class'] = df_copy.kpn_median.apply(lambda x: 'A' if 7 < x <= 9 
                                            else 'B' if 5 < x <= 7 else 'C' )

In [39]:
print(df_copy.kpn_mean_class.value_counts())
print(df_copy.kpn_median_class.value_counts())

B    90332
C    19775
A       64
Name: kpn_, dtype: int64
B    68876
C    41170
A      125
Name: kpn_median, dtype: int64

In [41]:
df_copy.to_csv('cow_0507.csv', index=False, encoding='cp949')