In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
os.getcwd()

'c:\\Users\\Owner\\Desktop\\윤태준\\소\\3차 요청자료\\230504_Analysis'

In [3]:
df = pd.read_csv('a.csv', encoding = 'cp949')

In [4]:
df_copy = df.copy()

In [5]:
df_copy.KPN.unique()[:5]

array(['KPN1053', 'KPN1060', 'KPN1099', 'KPN1284', 'KPN1113'],
      dtype=object)

In [6]:
df_copy['kpn_mean']=np.nan
df_copy['kpn_median']=np.nan

In [7]:
df_copy[['kpn_mean','kpn_median']]

        kpn_mean  kpn_median
0            NaN         NaN
1            NaN         NaN
2            NaN         NaN
3            NaN         NaN
4            NaN         NaN
...          ...         ...
110166       NaN         NaN
110167       NaN         NaN
110168       NaN         NaN
110169       NaN         NaN
110170       NaN         NaN

[110171 rows x 2 columns]

In [8]:
df_copy['kpn_mean'] = df_copy['kpn_mean'].fillna(df_copy.groupby('KPN')['TARGET'].transform('mean'))

In [9]:
df_copy['kpn_median'] = df_copy['kpn_median'].fillna(df_copy.groupby('KPN')['TARGET'].transform('median'))

In [10]:
df_copy[['KPN','kpn_mean','kpn_median']]

            KPN  kpn_mean  kpn_median
0       KPN1053  4.918033         5.0
1       KPN1060  5.808511         6.0
2       KPN1099  5.893764         6.0
3       KPN1284  2.333333         2.0
4       KPN1060  5.808511         6.0
...         ...       ...         ...
110166   KPN961  6.033755         6.0
110167   KPN789  5.322943         6.0
110168   KPN881  5.348515         6.0
110169   KPN768  6.115274         6.0
110170   KPN999  6.077449         6.0

[110171 rows x 3 columns]

In [11]:
df_copy['kpn_mean']=df_copy['kpn_mean'].round()
df_copy['kpn_median']=df_copy['kpn_median'].round()
df_copy[['kpn_median','kpn_mean']].head(10)

   kpn_median  kpn_mean
0         5.0       5.0
1         6.0       6.0
2         6.0       6.0
3         2.0       2.0
4         6.0       6.0
5         6.0       6.0
6         6.0       6.0
7         5.0       5.0
8         6.0       6.0
9         5.0       5.0

In [12]:
df_copy.kpn_mean.sort_values().unique()

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [13]:
df_copy.kpn_median.sort_values().unique()

array([1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [14]:
df_copy.columns

Index(['ID', 'KPN', 'GENDER', 'BIR', 'FARM_ID', 'FARM_CLASS', 'SL_M', 'SL_D',
       'CLASS', 'S_W', 'I_A', 'F_T', 'TARGET', 'B_C', 'F_C', 'M_L', 'ORGAN',
       'MOM_ID', 'S_M_W', 'S_M_I', 'S_F_M', 'S_T_M', 'S_C', 'A_ID', 'A_S_M_W',
       'A_S_M_I', 'A_S_F_M', 'A_S_T_M', 'A_S_C', 'B_ID', 'B_S_M_W', 'B_S_M_I',
       'B_S_F_M', 'B_S_T_M', 'B_S_C', 'C_ID', 'C_S_M_W', 'C_S_M_I', 'C_S_F_M',
       'C_S_T_M', 'C_S_C', 'D_ID', 'D_S_M_W', 'D_S_M_I', 'D_S_F_M', 'D_S_T_M',
       'D_S_C', 'FARM_LEVEL', 'TARGET1', 'TARGET2', 'kpn_mean', 'kpn_median'],
      dtype='object')

In [15]:
df.loc[(df['TARGET']>=4)&(df['TARGET']<=6)]['CLASS'].value_counts()

1B     16050
1+B    13909
1C      8685
1+C     8240
1A      6568
1+A     5477
2B       121
2C        63
2A        46
등외         3
3A         1
3B         1
Name: CLASS, dtype: int64

In [16]:
# 5817개
len(df_copy.loc[(df_copy['kpn_mean']>=7)])

5817

In [17]:
# 5789개
len(df_copy.loc[(df_copy['kpn_median']>=7)])

5789

In [18]:
df_copy['kpn_mean_class'] = df_copy.kpn_mean.apply(lambda x: 'A' if 7 <= x <= 9 
                                            else 'B' if 4 <= x < 7 else 'C' )
df_copy['kpn_median_class'] = df_copy.kpn_median.apply(lambda x: 'A' if 7 <= x <= 9 
                                            else 'B' if 4 <= x < 7 else 'C' )

In [19]:
print(df_copy.kpn_mean_class.value_counts())
print(df_copy.kpn_median_class.value_counts())

B    104201
A      5817
C       153
Name: kpn_mean_class, dtype: int64
B    104146
A      5789
C       236
Name: kpn_median_class, dtype: int64

In [20]:
df_copy.to_csv('cow_0510.csv', index=False, encoding='cp949')