In [1]:
import this #파이썬 프로그램 철학 글귀

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [14]:
! python -V #파이썬 버전 확인

Python 3.8.5

## 단축키
# shift + enter = 셀 실행 후 다음 셀로 이동
# alt + enter= 셀 실행 후 다음 셀 추가
# ctrl+/ = 주석
# tap = 들여쓰기
# shift + tab = 들여쓰기 해제
# Esc+m = 마크다운 모드 변경
# Esc + a = 위에 셀 추가
# Esc + b = 아래 셀 추가
## dd = 현재 셀 삭제

In [9]:
# 데이터 입력
name=input ("what is your name?")

what is your name?25

In [ ]:
age_int=int(input("how old?")) # 정수형으로 추출

In [36]:
 age=input("how old?") #결과값에 ''가 붙어서 나옴 문자형으로 추출됨

how old?25

In [20]:
#데이터 출력
print(age_chr)
print(type(age_chr)) # 데이터 형태 확인 문자형
print(type(age_int)) # 데이터 형태 확인 정수형

25
<class 'str'>
<class 'int'>

In [39]:
name= 'ytj'
age= 20
hobby = 'walk'
dream= 'money'
print('name is '+ name + "11")
print('age is '+str(age)+'year-old') #같은 구조끼리만 결합가능하기 때문에 정수인 age를 str을 이용하여 문자로 바꿈
print('hobby is '+hobby +' and '+'dream is ' + dream)

name is ytj11
age is 20year-old
hobby is walk and dream is money

# 정수형

In [43]:
a=12345
print(a)

12345

In [46]:
print(type(a))

<class 'int'>

In [48]:
b=100

In [50]:
c=a+b

In [53]:
print(c) ; print(type(c))

12445
<class 'int'>

# 실수형: float

In [55]:
f=10.54
print(f); print(type(f))

10.54
<class 'float'>

In [57]:
float(b) # 정수 실수형 변환

100.0

In [61]:
int(f)# 실수 정수형 변환

10

In [62]:
# 객체: 파이썬의 모든 변수, data type은 객체(Object)에 저장된다.

In [66]:
a= 30
print(id(a)) # 저장되는지 확인 id를 이용하여
b=50 
print(id(b)) #값이 다르기 때문에 저장되는 곳 또한 다름
c=a
print(id(c)) # 같은 값을 가지면 같은 공간에 저장된다
b=40
print(id(b))

140720184306368
140720184307008
140720184306368
140720184306688

# 사칙연산

In [70]:
a=10
b=3
c=a+b
d=a-b
f=a*b
g=a/b
print(c);print(d); print(f) ;print(g)

13
7
30
3.3333333333333335

In [72]:
round(g,2) # 소숫점이 존재하는 값을 원하는 자릿수까지 반올림해줌

3.33

In [74]:
f=a%b
print(f) # %를 이용하면 값을 나누고 난 후 나머지를 구해짐

1

In [76]:
f= a//b
print(f) # //를 이용하면 몫만 구해짐

3

In [78]:
10**3 # 세제곱

1000

In [97]:
# 문제 
# 사과1개는 200원, 귤1개는 100원이다. 사과 5개, 귤3개 지불 금액
a=200 ;ac=5; b= 100 ;bc=3; c=(ac*a)+(bc*b) ; print(str(c)+'원')
input("price?")
d=1300
print('price is '+ str(d)+'won')
a=200
b=100
c=int(input("apple?"))
d=int(input("orra?"))
f= (a*c)+(b*d)
print(f,'won') # , 쉼표를 이용해줌으로써 서로 독립된 개체로 적용시켜 굳이 데이터형 변환을 안 시켜줘도 됨

1300원
price?55
price is 1300won
apple?5
orra?5
1500 won

In [98]:
# 자율문제
a=1500 ; ac=10; b=500; bc=50; c=(a*ac)+(bc*b) ;print(c);print(str(c)+'원')
input('price?')
d=40000
print('price is '+ str(d)+'won')

40000
40000원
price?5
price is 40000won

# print formatting: %사용

In [101]:
n_1=10
n_2=1.234
n_3='hellow python'

In [103]:
print('int형=%d' %n_1) #들어가는 값이 정수형일 때 d로 표현

int형=10

In [104]:
print('float=%f' %n_2) #float f표현

float=1.234000

In [106]:
print('str=%s' %n_3) #string s로 표현

str=hellow python

In [108]:
print('문자형=%s int형=%d float=%f'%(n_3,n_1,n_2))

문자형=hellow python int형=10 float=1.234000

In [110]:
print(format(1.23456,'7.6f')) #전체 7자리 소숫점 이하 6자리라고 해서 뒤에 0하나 붙음

1.234560

In [112]:
print('{}/{}' . format('apple',7.77))

apple/7.77

In [114]:
print('{0:<10}/{1:7.3f}'. format('apple',7.77)) #왼쪽 정렬 (10자리 이동)

apple     /  7.770

In [121]:
print('{0:>10}/{1:7.3f}'. format('apple',7.77)) #오른쪽 정렬 (10자리 이동)

     apple/  7.770

In [116]:
print('{0:^10}/{1:7.3f}'. format('apple',7.77)) #가운데 정렬

  apple   /  7.770

In [118]:
print('{0:=<10}/{1:7.3f}'. format('apple',7.77)) #왼쪽 정렬 (10자리 이동) 빈 10자리 =로 메꾸기

apple=====/  7.770

In [120]:
print('{0:*^10}/{1:7.3f}'. format('apple',7.77)) #10칸 띄우고 난 자리 *로 채우기

**apple***/  7.770

# eval()함수
# 문자열로 표현된 파이썬 식을 인자로 받아서 실행

In [126]:
a=10
express='a'+'+'+'20'
print(express) #여기서는 그냥 문자열로 받아서 출력
print(type(express)) #
b=a+20
b=eval('a+20') #eval함수를 이용하면 값을 적용시켜 출력
print(b)

a+20
<class 'str'>
30

# 문제:속도와 거리를 입력받아 시간을 계산하는 프로그램을 작성
# 속도 = 거리/시간

In [134]:
s=10 # 거리
t=20 # 시간
velo='s'+'/'+'t'
print(velo)
velo=eval('s/t')
print(velo)

s/t
0.5

# 문제: 길이와 너비를 입력받아 면적과 둘레를 계산
# 면적=길이*너비
# 둘레= 길이*2+너비*2

In [148]:
x=100
y=50
m_2=eval('x*y')
r=eval('(x*2)+(y*2)')
print(m_2);print(r)
x1=int(input("길이?"))
y1=int(input("너비?"))
print(x1*y1,'m^2')
print(x1*2+y1*2)
print('{}/{}' . format(x1*y1,'m_2'))
print('{}= {}' . format('둘레',x1*2+y1*2))

5000
300
길이?500
너비?500
250000 m^2
2000
250000/m_2
둘레= 2000

# 화씨 온도 입력하여 섭씨 온도로 변환
# 섭씨=(화씨-32)/1.8

In [144]:
F=int(input('F?'))
C=eval('(F-32)/1.8')
print(C,'*c')

F?500
260.0 *c

In [ ]:
score = int(input(''))