In [218]:
import os 
os.chdir("C:\\Users\\user\\Desktop\\파이썬")
os.getcwd

In [87]:
print("helloworld")

helloworld

In [88]:
print("hello","world")
print("hello , world")

hello world
hello , world

In [10]:
1+5
3+4
"안녕"

'안녕'

# "변수"란 데이터를 담는 그릇 
# 소문자 대문자 숫자 다 가능, 특수기호는 (_)언더바만 가능
# 입력할 때 대소문자를 구분하여 입력하여야 함
# 변수이름을 지을 때는 숫자가 맨처음에 올 수 없음
# 변수이름을 원래 있던 함수와 같게지으면 안됨

In [14]:
a = 1
ㅁ = 2
print(a)
print(ㅁ)

1
2

In [18]:
9a = 4 # 안됨

SyntaxError: invalid syntax (<ipython-input-18-8022e93606be>, line 1)

In [20]:
a9 = 4
print(a9)

4

In [23]:
_a = 4
print(_a)
a_ = 4
print(a_)

4
4

In [25]:
a@ = 1 # 안됨

SyntaxError: invalid syntax (<ipython-input-25-f7e717762463>, line 1)

## 데이터 타입,, type()
## int (정수): Integer(정수)의 약어, 정수를 나타내는 자료형
## float (실수): Floating point의 약어, 소수점이 있는 숫자를 나타내는 자료형
## str (문자열): 문자를 나타내는 자료형 작은 따옴표 혹은 큰 따옴표 표시
## bool (참/거짓): 참 또는 거짓을 나타내는 자료형 True, False에서 T와 F는 반드시 대문자 표기

In [31]:
a = 1
b = 1.9
c = "a"
d = ("a","b","b","f","Bb")

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'bool'>

# 문자형을 입력할 때 여러줄로 나눠서 입력하고 싶다면?
# 큰 따옴표 또는 작은 따옴표 3개를 사용해주면 됨

In [34]:
ab = """dddd
ddddd
dddd
dddd
ddd
ddd
dddd
dddd
dddd
"""
print(ab)

dddd
ddddd
dddd
dddd
ddd
ddd
dddd
dddd
dddd

In [36]:
abc = "ddd  
ddd
ddd
"
# 안됨

SyntaxError: EOL while scanning string literal (<ipython-input-36-cca1efe8be25>, line 1)

In [39]:
a = None
type(a)

NoneType

In [45]:
# 타입 변환
a = 1
print(type(a))
a = float(a) # 바뀐것의 적용을 위해 따로 담아줌
type(a)

<class 'int'>

float

In [48]:
b = 3.99 
print(type(b))
b = int(b)
print(b) # 반올림 하지 않고 버림
type(b)

<class 'float'>
3

int

In [50]:
a = False
print(a)
type(a)

False

bool

# == 비교연산자 "같다" 표시

In [52]:
1 == True

True

In [54]:
0 == False

True

In [56]:
0 == True

False

In [59]:
type(True)

bool

# 시퀀스, 집합형 자료구조

In [64]:
import pandas as pd
const = pd.DataFrame({'분류':["시퀀스","시퀀스","세트",'맵'],
                             '타입':['리스트', '튜플', '세트','딕셔너리'],
                             '특징':['순서있고,가변', '순서있고,불변', '순서없고,중복허용안함','순서없고,key/value쌍으로 이루어짐'],
                             '예시':['[1,2,3]','(1,2,3)','{1,2,3}','{a:1,b:2,c:3}'] })
const

    분류    타입                      특징             예시
0  시퀀스   리스트                 순서있고,가변        [1,2,3]
1  시퀀스    튜플                 순서있고,불변        (1,2,3)
2   세트    세트             순서없고,중복허용안함        {1,2,3}
3    맵  딕셔너리  순서없고,key/value쌍으로 이루어짐  {a:1,b:2,c:3}

### 리스트 (list)
##### * 다양한 요소를 순차적으로 파악하는데 용이한 자료형이다
##### * 다양한 메서드 혹은 함수를 지원하며 메서드를 활용해 추가, 삭제 및 변경할 수 있다
##### 메서드(method) : 객체(object)가 포함하는 함수 혹은 기능입니다. 함수에 대한 내용은 추후에

In [69]:
# 리스트 생성하는 법
list1 = [] # 이걸 자주 씀
list1  # 아무 요소들도 넣지 않았기에 빈 리스트가 나옴
list2 = list()
list2

[]

In [73]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

### list 규칙
#### list는 다양한 type 데이터를 집합으로 가질 수 있음
#### list안에 list 넣어서 작성가능
#### 순서의 개념이 존재함

In [76]:
a = []
a

[]

In [78]:
a = [1, 2, 3] 
a

[1, 2, 3]

In [82]:
a = [1, 'h', 3, 3.14 , True] # 다양한 데이터 집합 가짐
a

[1, 'h', 3, 3.14, True]

In [84]:
a = [1, 'h', 3, 3.55, [6, 4, True]]
a

[1, 'h', 3, 3.55, [6, 4, True]]

In [89]:
a[3]

3.55

### 함수 
#### .연산자를 이용하여 함수를 사용

### append() 값 추가

In [91]:
a.append(1)
a.append('+')
a

[1, 'h', 3, 3.55, [6, 4, True], 1, '+']

### sort() 정렬

In [101]:
a = [1,6,5,4,2,7,9,3]
print(a)
a.sort() # 오름차순
print(a)
a.sort(reverse = True) #내림차순
print(a)

[1, 6, 5, 4, 2, 7, 9, 3]
[1, 2, 3, 4, 5, 6, 7, 9]
[9, 7, 6, 5, 4, 3, 2, 1]

### sorted를 이용할 수도 있음
#### 대신 sorted를 이용하면 copy()를 이용한 것처럼 원 데이터에는 적용되지 않음

In [105]:
b = [1,6,5,4,2,7,9,3]
sorted(b)

[1, 2, 3, 4, 5, 6, 7, 9]

In [107]:
print(b)

[1, 6, 5, 4, 2, 7, 9, 3]

In [108]:
sorted(b,reverse=True) # 내림차순

[9, 7, 6, 5, 4, 3, 2, 1]

In [111]:
b.reverse()
b # reverse자체가 그냥 값의 순서를 바꿔주는 것

[3, 9, 7, 2, 4, 5, 6, 1]

In [113]:
b[::-1] # 이것도 역정렬 , 원본에 반영되지는 않음

[1, 6, 5, 4, 2, 7, 9, 3]

### 괄호에 담아서 적용시키는 함수들은 원본에 적용안되지만
### .연산자를 이용할 경우 원본에 적용함

In [116]:
len(a) # 변수 내 데이터 갯수

8

### insert를 이용해서 값추가 할 수 있음 .insert(값넣을 위치, 넣을 값)

In [117]:
a.insert(0,'ㅇ')
a

['ㅇ', 9, 7, 6, 5, 4, 3, 2, 1]

### 값 제거 remove() , ex).remonve(7) 이라고 하면 7인 값 모두 삭제되는 게 아닌 첫번째 7만 제거

In [118]:
a = [1,2,3,4,4,4,5,6,7,8,9]
a.remove(4)
a

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9]

### pop(): 요소 꺼내기 , pop()은 원하는 위치를 입력하여 충족하는 값을 제거

In [121]:
a = [1,2,3,4,4,4,5,6,7,8,9]
a.pop(2)
a

[1, 2, 4, 4, 4, 5, 6, 7, 8, 9]

### del: 요소 삭제 , 또한 충족하는 위치 삭제

In [122]:
a = [1,2,3,4,5,6,7,8,9]

del a[3]
print(a)

[1, 2, 3, 5, 6, 7, 8, 9]

### count(): 갯수 세기 , count(1) 이면 1이 몇개있는지 세는거

In [126]:
a = [1,2,3,3,3,3,7,4,5]
a.count(3)

4

### extend(): 리스트  ,, + 기호 또한 같은 기능을 함
### append나 insert는 하나하나 추가 , 이거는 여러개 추가

In [132]:
a = [1,2,3,4,5]
print(a)
a.extend([7,8])
a

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 7, 8]

In [135]:
a = [1,2]
print(a)
a + [4 ,5]

[1, 2]

[1, 2, 4, 5]

### 인덱스 : 시퀀스 각 요소는 순서가 정해져 있으며, 이 순서를 인덱스라고 함
### 0부터 시작함

In [137]:
a = [1,2,3,4]
print(a[0])
print(a[1])
print(a[2])
print(a[3])

1
2
3
4

In [139]:
print(a[4]) # 안됨

IndexError: list index out of range

### 역순서 인덱스

In [144]:
print(a[-1])
print(a[-2])
print(a[-3])

4
3
2

### 인덱스로 값 바꾸기

In [147]:
a = [1,2,3,4,5]
a[0] = 100
a

[100, 2, 3, 4, 5]

### 중첩된 리스트 인덱싱

In [149]:
a = [[1,2,3],"ㄱ","ㄴ","ㄷ",["h","d"]]
a

[[1, 2, 3], 'ㄱ', 'ㄴ', 'ㄷ', ['h', 'd']]

In [151]:
len(a)

5

In [159]:
print(a[0]);print(a[1]);print(a[4])

[1, 2, 3]
ㄱ
['h', 'd']

In [161]:
a[0][1] # 리스트 속 리스트 값 찾기

2

In [165]:
a[0][1] = 1 # 질문 == 가능할까?
a

[[1, 1, 3], 'ㄱ', 'ㄴ', 'ㄷ', ['h', 'd']]

### 슬라이싱 :: 범위 추출,, 활용방법 [start:stop:step]

In [168]:
a = [1,2,3,4,5]
a[:] # 따로 입력안하면 전체 가져오기

[1, 2, 3, 4, 5]

In [170]:
a[1:]

[2, 3, 4, 5]

In [172]:
a[-1:]

[5]

In [174]:
a[:2] # 미만임 3번째는 포함 안함

[1, 2]

In [178]:
a[0:2]
a[-3:-1]
a[1:-3]

[2]

### 슬라이싱에서 step까지 사용하면 몇 칸씩 건너뛰면서 출력할지 지정해줌

In [183]:
a = [1,2,3,4,5,6,7,8,9,11]
a[ : : 2] # 범위는 지정하지 않고 2칸씩 건너뛰고 출력

[1, 3, 5, 7, 9]

In [186]:
a[::-2]

[11, 8, 6, 4, 2]

In [188]:
a[2::2]

[3, 5, 7, 9]

### 튜플(tuple)불변하는 객체 :  수정, 삭제, 변경이 불가능하다
#### tuple(), ()으로 생성가능

In [192]:
a = (1,2,3)
b = tuple([1,2,3])
c = 1,2,3
print(type(a));print(type(b));print(type(c))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [193]:
a = 1,
print(type(a))
a

<class 'tuple'>

(1,)

In [195]:
a = (1,)
print(type(a))
a

<class 'tuple'>

(1,)

In [196]:
a = (1)
print(type(a))
a

<class 'int'>

1

### 튜플 언패킹
#### 튜플로 한 번에 여러 변수에 값을 한번에 할당 가능

In [199]:
a, b, c = 1, 2, 3  # 이 때 좌 우 변의 길이가 같아야함
d = 1, 2, 3, 4
print(a);print(b);print(c);print(d)

1
2
3
(1, 2, 3, 4)

In [201]:
a = [1,2,3,4]
b = [5,6,7,8]
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [202]:
a * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [203]:
b * 3

[5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8]

### 리스트의 곱셈은 몇 번 반복해줄것인가 이기 때문에 연산으로써의 기능은 없음

In [204]:
a * b

TypeError: can't multiply sequence by non-int of type 'list'

### 튜플 수정안됨

In [206]:
a = (1, 2, 3)
print(type(a))
a[0] = 100

<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [209]:
del a[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플 확장

In [211]:
a = (1,2)
b = (3,4)
print(type(a));print(type(b))
a + b

<class 'tuple'>
<class 'tuple'>

(1, 2, 3, 4)

In [212]:
a * 3

(1, 2, 1, 2, 1, 2)

In [213]:
a * b

TypeError: can't multiply sequence by non-int of type 'tuple'

In [214]:
len(a)

2

In [215]:
a = [1, 2 , 3, 4]
type(a)

list

In [216]:
b = tuple(a)
type(b)

tuple

In [217]:
c = list(b)
type(c)

list