### 세트(set)
#### 세트는 순서가 보장되지 않음
#### 세트는 중복 허용 안함
#### 세트는 {}를 사용하여 생성

In [7]:
a = set()
a

set()

In [8]:
a = set([1,1,2,2]) # set안에 list형식으로 넣어도 중복값 없음
a

{1, 2}

In [9]:
a = set((1,1,2,2,3,3)) # set안에 tuple넣어도 중복값 없이 나옴
a

{1, 2, 3}

In [10]:
a = {1,1,2,2,3,3,3}
a

{1, 2, 3}

### add() : 값 추가

In [11]:
a = set()

In [12]:
a.add(1)
a.add(2)
a.add(3)

a.add(1)
a.add(2)
a.add(3)

a

{1, 2, 3}

### update() : 여러개 값 추가

In [13]:
a = {1, 2, 3}

In [17]:
a.update([4,5,6])
a

{1, 2, 3, 4, 5, 6}

In [19]:
a.update((4,5,6))
a

{1, 2, 3, 4, 5, 6}

In [20]:
a.update({7,8,9})
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### remonve()

In [21]:
a.remove(2)
a

{1, 3, 4, 5, 6, 7, 8, 9}

### 교집합 공통요소를 추출해주는거 &나 intersection()

In [23]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}
a & b

{3, 4, 5}

In [24]:
a.intersection(b)

{3, 4, 5}

### 합칩합 
### | 나 union() 사용

In [25]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
### 차집합 , 여집합
a - b

{1, 2, 3}

### 딕셔너리(dictionary)
#### 순서없고 키와 값으로 이루어짐  {key:value}
#### dict로 표시되며 키값을 이용해 조회가능 , 수정,삭제, 추가 가능

In [28]:
a = dict()
print(type(a))
a

<class 'dict'>

{}

In [29]:
a = {'a':1 , "b" : 2, "c" : 3}
print(type(a))
a

<class 'dict'>

{'a': 1, 'b': 2, 'c': 3}

In [31]:
a = {'a':1 , "b" : 2, "c" : 3] # 안됨
print(type(a))
a

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' (<ipython-input-31-b761c71845ed>, line 1)

In [33]:
a = ()'a':1 , "b" : 2, "c" : 3) # 안됨
print(type(a))
a

SyntaxError: invalid syntax (<ipython-input-33-d15536591c0a>, line 1)

In [34]:
a = {'a' : 1 , '가' : 2 , 100:3 , 3.14 : 4, True : 5 }
print(type(a))
a

<class 'dict'>

{'a': 1, '가': 2, 100: 3, 3.14: 4, True: 5}

In [35]:
a['a']

1

In [36]:
a.get('a')

1

In [39]:
a.keys() # key값 다 조회

dict_keys(['a', '가', 100, 3.14, True])

In [40]:
a.values()

dict_values([1, 2, 3, 4, 5])

In [41]:
a.items()

dict_items([('a', 1), ('가', 2), (100, 3), (3.14, 4), (True, 5)])

In [44]:
"a"  in a

True

In [45]:
"cdcdsc" in a

False

In [47]:
a = dict()
a

{}

In [52]:
a['a'] = 1
a

{'a': 1}

In [53]:
a[0] = 2
a

{'a': 1, 0: 2}

### update()를 이용하여 다중 업데이트

In [67]:
a = {"ab" : 100 , "dd" : 200, "vd": 300}
a

{'ab': 100, 'dd': 200, 'vd': 300}

In [68]:
#b =  {"a" : 200, "b" : 300, "c" : 500}
b = {
    "a" : 200,
    "b" : 300,
    "c" : 500,
}
b

{'a': 200, 'b': 300, 'c': 500}

In [69]:
a.update(b)
a

{'ab': 100, 'dd': 200, 'vd': 300, 'a': 200, 'b': 300, 'c': 500}

### 값 변경,, 하나의 key값에는 반드시 하나의 value만 와야함

In [71]:
ab = a.copy()
ab['a'] = 900
ab['a'] # 추가되지 않고 변경됨

900

In [72]:
del ab['a']
ab

{'ab': 100, 'dd': 200, 'vd': 300, 'b': 300, 'c': 500}

In [74]:
ab.pop('b')

300

In [75]:
len(a)

6

In [77]:
a.clear()
a

{}

### 연습문제 
#### 다음 리스트에서 중복된 항목을 제거하세요
#### 최종 출력 값은 list 형태로 출력하세요 ,사용코드 set(),list()
#### a= [1, 3, 2, 3, 7, 6, 8, 4, 10, 5, 3, 8, 9]

In [3]:
a= [1, 3, 2, 3, 7, 6, 8, 4, 10, 5, 3, 8, 9]
a = set(a) # set을 이용하여 중복값을 없앤 뒤
a = list(a) # 다시 list형식으로 변환
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 연습문제
#### 학생들의 이름과 점수를 key와 value로 가지는 score 변수를 생성하세요.
#### 하준 90점, 서윤 86점, 지아 80점

In [6]:
score = {'하준':'90점' , '서윤' : '86점' , '지아':'80점' } # {} 중괄호를 이용하여 key:value로 묶어줌으로써 딕셔너리임을 선언함
score

{'하준': '90점', '서윤': '86점', '지아': '80점'}