### 문자열의 생성
#### 파이썬의 문자열은 작은 따옴표(**'**) 나 큰 따옴표(**"**) 모두 구분없이 사용하여 문자열을 생성할 수 있습니다.

In [1]:
"ㅇ" # "", '' ,따옴표를 이용하여 문자열 값으로 출력

'ㅇ'

In [1]:
a = """ddd   
hi
m
a"""
a  # 데이터 타입에서 배웠듯 따옴표 3개를 이용하면 그 안에 들어가는 모든 값 문자열로 받을 수 있으며 행 단위로 받을 수 있음

'ddd   \nhi\nm\na'

In [3]:
print(a) # 3개의 따옴표로 받은 값 출력했을 때 4개의 행에 데이터가 입력되면서 출력됨

ddd
hi
m
a

In [4]:
print("파이썬 기초")

파이썬 기초

In [2]:
print("ㅊ옴ㄴ롬ㄹ","5464546","True") # 구분자로 데이터를 구분해주었기에 쉼표 대신 공백출력

ㅊ옴ㄴ롬ㄹ 5464546 True

### `end` 옵션으로 출력될 마지막 글자를 변경 (기본값: \n)
#### > 들여쓴 블록
#### - [참고] : \n 은 개행을 의미하는 특수 문자

In [6]:
print('a', end = "dafaf")

adafaf

In [8]:
print('a', 'b', 'c', sep = ',') # sep는 구분자

a,b,c

In [2]:
print('문자열 첫째', '그리고, 둘째')

문자열 첫째 그리고, 둘째

### print를 이용해 '여기까지' 까지 추출하지만 end를 이용해 뒤에 더 나올 말을 지정해줌

In [67]:
print('여기까지!', end='end출력!')

여기까지!end출력!

### 포맷팅을 이용하여 원하는 값을 붙여주기 위함 %뒤에 형식을 붙이고 %로 원하는 말 
- 그냥 형태만 알고가기 깊게 보지 않아도 됨

In [3]:
"안녕하세요? %s" % ('반갑습니다.')

'안녕하세요? 반갑습니다.'

In [4]:
'안녕하세요? %.3f' % (0.123456)

'안녕하세요? 0.123'

In [5]:
'안녕하세요? %d' % (12345)

'안녕하세요? 12345'

In [6]:
'안녕하세요? %c' % ('a')

'안녕하세요? a'

In [7]:
'웰컴투? {}'.format('파이썬.')

'웰컴투? 파이썬.'

In [8]:
'비밀번호 {}'.format(486)

'비밀번호 486'

In [9]:
'원주율? {:.2f}'.format(3.141592)

'원주율? 3.14'

In [10]:
name = '펭수'
age = 10
print(f'나의 이름은 {name}입니다. 나이는 {age} 살입니다.')

나의 이름은 펭수입니다. 나이는 10 살입니다.

In [13]:
name = '펭수'
age = 10
print('나의 이름은 {name}입니다. 나이는 {age} 살입니다.')

나의 이름은 {name}입니다. 나이는 {age} 살입니다.

In [11]:
print(f'내년에 저는 {age+1} 살입니다.')

내년에 저는 11 살입니다.

### dict형식으로 key:value를 설정해주고 포맷팅을 이용하여 dict형식을 붙여주면 key에 맞는 value값을 추출해줌

In [15]:
d = {'name':'펭수', 'age':10}

In [16]:
print(f"반가워요. 저는 {d['name']}입니다. 저의 나이는 {d['age']} 살입니다.") #d{}를 이용하여 딕셔너리임을 선언해줌

반가워요. 저는 펭수입니다. 저의 나이는 10 살입니다.

### 연습문제
#### 변수 `a`를 활용하여 문자열 포맷팅으로 출력하세요
#### print() 를 사용합니다.
- 문자열로 출력해줄 값 따옴표 바로앞에 f를 붙여서 실행해줌으로 format임을 선언해줌 이때 괄호는 {} 중괄호

In [3]:
a = 1234
print(f'a값은 {a}임')

a값은 1234임

In [20]:
a = 1234
print(f'a값은 (a)임')  #포맷안됨

a값은 (a)임

In [21]:
a = 1234
print(f'a값은 [a]임') #포맷안됨

a값은 [a]임

In [32]:
a = 3.141592
b = 6.181112
'a값은 %.3f' % (a) ,'b값은 %.3f' %(b)
print('a값은 %.3f' % (a) , 'b값은 %.3f' %(b)) #print를 이용하여 쉼표는 구분자로 인식되게 함.

a값은 3.142 b값은 6.181

In [33]:
len('banana')

6

In [36]:
a = 'Python is my life'
print(a)
print(a[0])
print(a[-3])
print(a[2])

Python is my life
P
i
t

### 인덱스는 쉽게 보면 문자열 각각 입력되는 스펠링의 순서를 의미하며 파이썬에서 첫번째 값은 0이다

In [64]:
# a = 'a','b','c','d','e','f','g','h','i'  인덱스 설명해주기위한 코드 따라할 필요 없음.
import pandas as pd
a = pd.DataFrame({ 'a' :[0,-9],
                  'b' : [1,-8] ,
                  'c' : [2,-7] ,
                  'd' : [3,-6] , 
                  'e' : [4,-5] ,
                  'f' : [5,-4] ,
                  'g' : [6,-3] ,
                  'h' : [7,-2] ,
                  'i' : [8,-1] ,
                  
})
print(a)
a.rename(index={0:'인덱스', 1:'역순서인덱스'})

   a  b  c  d  e  f  g  h  i
0  0  1  2  3  4  5  6  7  8
1 -9 -8 -7 -6 -5 -4 -3 -2 -1

        a  b  c  d  e  f  g  h  i
인덱스     0  1  2  3  4  5  6  7  8
역순서인덱스 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [66]:
a = 'a','b','c','d','e','f','g','h','i'
print(a[-9]) # 역순서로 했을 때 
type(a)

a

tuple

### 공백과 특수문자도 길이에 포함되어 계산됨

In [4]:
len("aaa aaa") # 원래라면 a만 6개 있지만 공백도 길이에 포함됨

7

In [ ]:
len("가나다라마바사!@!@") # 특수문자 또한 길이에 포함

### 연습문제
#### 문자열 "210101-1234567"을 인덱싱 하여 성별을 나타내는 숫자를 출력 해보기
#### 따옴표도 과연 인덱스에 포함시켜서 순서를 세야하나 생각해보기
#### 8번째존재함으로 0부터 시작하니까 7을 입력, 여기서 주의해줄것은 따옴표는 포함되지 않음 따옴표는 저 값이 데이터로 입력받게 해준 것이므로 헷갈리지 말자

In [8]:
a =  '210101-1234567' # 주민번호니까 알아서
a[7]

'1'

### 문제: 길이10인 리스트를 생성해서 7번째  값을 추출해보세요

In [14]:
a = [1,2,3,4,5,6,7,8,9,1]
a[6]

7

### 문제: 문자열 '20210101Sunny'를 슬라이싱하여 날짜는 `date`변수에 날씨는 `weather` 변수에 저장 후 출력 하세요

In [9]:
a = '20210101Sunny'
date = a[0:8]
weather = a[8:]
print(date,weather)

20210101 Sunny

### 불변(immutable)

- 문자열은 index를 통해 값을 수정 및 변경이 불가합니다.
- 하지만 메서드(method)로 변경할 수 있습니다.

In [17]:
a = 'Python is my life' # 인덱스를 하면 안됨
a[2] = 'Y'

TypeError: 'str' object does not support item assignment

In [18]:
del a[2] #삭제도 안됨 : 수정변경이 안됨.

TypeError: 'str' object doesn't support item deletion

In [19]:
a * 2 # 반복

'Python is my lifePython is my life'

### 리스트(list)

- 문자열을 리스트(list)로 타입 변환이 가능합니다.
- 타입 변환시 한 글자를 요소로 갖는 리스트가 생성됩니다.

In [28]:
a = list('ABCDE') 
b = ['ABCDE']
print(a,b)
type(a);type(b)

['A', 'B', 'C', 'D', 'E'] ['ABCDE']

list

### 세트(set)

- 한 글자를 요소로 갖는 세트가 생성됩니다.
- 세트의 특성상 요소를 생성한 후 중복된 글자는 제거됩니다.

In [23]:
set('AAABBBCCC')

{'A', 'B', 'C'}

In [25]:
set(a)
set(b)

{'ABCDE'}

### split() : 분리
- split은 문장을 특정 규칙에 의해 쪼개 주는 기능을 합니다.
- 분리한 결과는 list 형식으로 값을 return 받습니다.
- 기본 값으로 공백이 지정되어 있습니다. 즉, 공백을 기준으로 분리하여 리스트로 반환합니다.

In [32]:
a = 'This is a pen'
a.split()

['This', 'is', 'a', 'pen']

#### 기본 값인 공백에서 특정 문자로 지정할 수 있습니다.

In [36]:
a = 'This-is-a-pen'
a.split('-')

['This', 'is', 'a', 'pen']

In [37]:
aa = a.split('-') # 따옴표로 구분자가 뭔지 표현해줌 
aa[0]
aa[2]
aa[0] + aa[2]  #

'Thisa'

### 덧셈: 문자열 연결

In [10]:
a = '반갑습니다!'
b = '웰컴 투 파이썬'
a + b
a + '44s'

'반갑습니다!44s'

### 복제: 문자열의 곱셈
- 문자열을 곱한 숫자 만큼 반복하여 생성합니다.

In [12]:
print('abc ' * 5)
print('===' * 7)

abc abc abc abc abc
=====================

### join() : 합치기
- 결합하고자 하는 문자에 .join() 안에 리스트를 지정하여 결합
- .연산자 앞에 따옴표로 표시해준 특수문자들은 결합한 문자들을 구분해줄 수 있는 구분자를 무엇으로 할것인지 설정

In [13]:
'$$'.join(['010',  '1234', '5678']) # 각 값들을 구분해줄 구분자로 $$로 설정

'010$$1234$$5678'

In [15]:
'#'.join(['010',  '1234', '5678'])   # 각 값들을 구분해줄 구분자로 #로 설정

'010#1234#5678'

In [16]:
'-'.join(['010',  '1234', '5678'])  # 각 값들을 구분해줄 구분자로 -로 설정

'010-1234-5678'

In [18]:
'/'.join(['010',  '1234', '5678'])  # 각 값들을 구분해줄 구분자로 /로 설정

'010/1234/5678'

### 하나씩 분리된게 아닌 하나의 문자열 또한 join설정으로 구분자로 분리해낼 수 있음.

In [14]:
'-'.join('ABCDE')

'A-B-C-D-E'

### 연습문제
- sample = ['Python', 'is', 'too', 'interesting']
- 리스트를 Python is too interesting 이라는 문자열로 출력하세요

In [20]:
sample = ['Python', 'is', 'too', 'interesting']
' '.join(sample) # 공백을 이용한 구분

'Python is too interesting'

### 대 소문자 변경

In [22]:
a = 'My name is Teddy'
a.lower()

'my name is teddy'

In [23]:
a.upper()

'MY NAME IS TEDDY'

### startswith, endswith
- 시작과, 끝이 맞는지 결과를 bool로 반환

In [24]:
a = '01-sample.png'

In [25]:
a.startswith('01') # 시작값이 01이 맞는지?

True

In [26]:
a.startswith('02') # 시작이 02인지?

False

In [27]:
a.endswith('.png') #끝 값이 .png인지?

True

In [28]:
a.endswith('.jpg')

False

In [29]:
a.endswith('ㅁ')

False

### replace() : 문자열 바꾸기 
- 문자열에 replace(바꿀 대상, 바꾸려는 문자열) 지정하여 문자열을 변경
- 결과는 복사본이 만들어져 반환

In [30]:
a.replace('.png', '.jpg')
a

'01-sample.png'

In [32]:
a = a.replace('.png', '.jpg')
a

'01-sample.jpg'

### 불필요한 공백 제거

In [38]:
a = '    01-sample.png       '
a

'    01-sample.png       '

### lstrip() : 왼쪽 공백 제거

In [39]:
a.lstrip()

'01-sample.png       '

### rstrip(): 오른쪽 공백 제거

In [40]:
a.rstrip()

'    01-sample.png'

### strip() : 양쪽 공백 제거

In [41]:
a.strip()

'01-sample.png'