In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

##### SAS Data import

In [2]:
print(os.getcwd())

c:\Users\Owner\Desktop\윤태준\고용패널\고용패널 파이썬 분석\2023_04_06_변수추가\변수추가

In [3]:
df = pd.read_sas('data.sas7bdat', format='sas7bdat')
df.head()

c:\Users\Owner\anaconda3\envs\'pannel'\lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
c:\Users\Owner\anaconda3\envs\'pannel'\lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)
c:\Users\Owner\anaconda3\envs\'pannel'\lib\site-packages\pandas\core\tools\datetimes.py:557: RuntimeWarning: invalid value encountered in cast
  arr, tz_parsed = tslib.array_with_unit_to_datetime(arg, unit, errors=errors)

,pid,majorcat,province,area,sex,age,a003,a010,a038,a039,...,major_helpG,majorcatG,q015G,q016G,q017G,big_companyG,work_satiG,company_satiG,supply,insurance
0,100166.0,1.0,2.0,8.0,2.0,22.500000,NaN,NaN,NaN,NaN,...,2.0,1.0,1.0,3.0,3.0,2.0,3.0,3.0,1.0,1.0
1,100191.0,1.0,4.0,7.0,2.0,26.916667,NaN,NaN,NaN,NaN,...,3.0,1.0,2.0,3.0,3.0,2.0,2.0,2.0,0.0,0.0
2,100212.0,1.0,2.0,8.0,2.0,24.666667,NaN,NaN,NaN,NaN,...,1.0,1.0,2.0,2.0,2.0,NaN,2.0,2.0,0.0,0.0
3,100221.0,1.0,2.0,8.0,2.0,25.250000,NaN,NaN,NaN,NaN,...,2.0,1.0,3.0,3.0,3.0,2.0,2.0,2.0,0.0,0.0
4,100232.0,1.0,3.0,11.0,1.0,25.250000,2.0,9.0,1.0,1.0,...,1.0,1.0,3.0,3.0,3.0,1.0,2.0,2.0,0.0,1.0

In [4]:
df.columns

Index(['pid', 'majorcat', 'province', 'area', 'sex', 'age', 'a003', 'a010',
       'a038', 'a039',
       ...
       'major_helpG', 'majorcatG', 'q015G', 'q016G', 'q017G', 'big_companyG',
       'work_satiG', 'company_satiG', 'supply', 'insurance'],
      dtype='object', length=101)

##### 변수 변환
- 변수명 한글
- 값 한글

In [5]:
df_copy = df.copy()

In [6]:
df_copy['주당근로일'] = df_copy['work_day']
df_copy['주당근로시간'] = df_copy['work_time']

In [8]:
# 직장에서의복리후생제공여부 한글 변경
df_copy['직장에서의복리후생제공여부'] = df_copy['supply'].apply(lambda x: '제공하지않는다' if x == 0 else '제공한다' if x==1 else x)
print('변경 전 supply unique 및 counts')
print(df_copy.supply.value_counts().sort_index())
print('\n')
print('변경 후 supply unique 및 counts')
print(df_copy.직장에서의복리후생제공여부.value_counts())

변경 전 supply unique 및 counts
0.0    4547
1.0    1261
Name: supply, dtype: int64


변경 후 supply unique 및 counts
제공하지않는다    4547
제공한다       1261
Name: 직장에서의복리후생제공여부, dtype: int64

In [10]:
# 보험가입여부 한글 변경
df_copy['보험가입여부'] = df_copy['insurance'].apply(lambda x: '가입하지않음' if x == 0 else '가입했다' if x==1 else x)
print('변경 전 insurance unique 및 counts')
print(df_copy.insurance.value_counts().sort_index())
print('\n')
print('변경 후 보험가입여부 unique 및 counts')
print(df_copy.보험가입여부.value_counts())

변경 전 insurance unique 및 counts
0.0    2428
1.0    3380
Name: insurance, dtype: int64


변경 후 보험가입여부 unique 및 counts
가입했다      3380
가입하지않음    2428
Name: 보험가입여부, dtype: int64

In [11]:
# 직장만족도 한글 변경
df_copy['직장만족도'] = df_copy['company_satiG'].apply(lambda x: '그렇지않다' if x == 1 else '보통이다' if x==2 else '그렇다' if x==3 else x)
print('변경 전 company_satiG unique 및 counts')
print(df_copy.company_satiG.value_counts().sort_index())
print('\n')
print('변경 후 직장만족도 unique 및 counts')
print(df_copy.직장만족도.value_counts())

변경 전 company_satiG unique 및 counts
1.0    1226
2.0    2136
3.0    2446
Name: company_satiG, dtype: int64


변경 후 직장만족도 unique 및 counts
그렇다      2446
보통이다     2136
그렇지않다    1226
Name: 직장만족도, dtype: int64

In [12]:
df_copy.columns

Index(['pid', 'majorcat', 'province', 'area', 'sex', 'age', 'a003', 'a010',
       'a038', 'a039',
       ...
       'big_companyG', 'work_satiG', 'company_satiG', 'supply', 'insurance',
       '주당근로일', '주당근로시간', '직장에서의복리후생제공여부', '보험가입여부', '직장만족도'],
      dtype='object', length=106)

In [13]:
df_copy.to_csv('2023_04_10_data_step.csv', index=False, encoding='cp949')